---
import Layout from "../../components/layout.astro";
import Coin from "../../components/Coin";
import _ from "lodash";

const { cid } = Astro.params;
const user = Astro.locals.pb.authStore.model;

let coin: any = null;

if (cid) {
    const coinList = await Astro.locals.pb
        .collection("Coins")
        .getList(1, 1, { filter: `CoinId = '${cid}'` });

    if (coinList) {
        coin = coinList.items[0];
    }
}

if (!coin) {
    return Astro.redirect("/");
}

let entry: any = null;
const isWatched = user?.watchlist.includes(coin.id);

const portfolioList = await Astro.locals.pb
    .collection("Portfolios")
    .getList(1, 1, {
        filter: `Coin.CoinId = '${coin.CoinId}' && User.id = '${user?.id}'`,
    });

if (portfolioList) {
    entry = portfolioList.items[0];
}

async function handleRequest(user: any, coin: any, type: any, amount: any) {
    if (!user || !coin || !type || !amount) {
        console.log("A parameter is missing!");
        return;
    }

    if (type == "BUY") {
        try {
            await Astro.locals.pb.collection("Transactions").create({
                User: user.id,
                Type: "Buy",
                Amount: parseInt(amount),
                Coin: coin.id,
            });
        } catch (error) {
            console.log(`Buy error: ${error}`);
        }
    } else if (type == "SELL") {
        try {
            await Astro.locals.pb.collection("Transactions").create({
                User: user.id,
                Type: "Sell",
                Amount: parseInt(amount),
                Coin: coin.id,
            });
        } catch (error) {
            console.log(`Sell error: ${error}`);
        }
    } else {
        console.log("Unhandled request type...");
    }
}

if (Astro.request.method === "POST") {
    const data = await Astro.request.formData();
    const actionType = data.get("action");

    if (actionType === "subscribe") {
        if (user) {
            if (isWatched) {
                await Astro.locals.pb.collection("users").update(user.id, {
                    watchlist: user.watchlist.filter(
                        (id: string) => id !== coin.id,
                    ),
                });
            } else {
                await Astro.locals.pb.collection("users").update(user.id, {
                    watchlist: [...user.watchlist, coin.id],
                });
            }
        }
    } else if (actionType == "buy_transaction") {
        await handleRequest(user, coin, "BUY", data.get("amount"));
    } else if (actionType == "sell_transaction") {
        await handleRequest(user, coin, "SELL", data.get("amount"));
    }
    return Astro.redirect(`/coins/${cid}`);
}

const loggedIn = Astro.locals.pb.authStore.isValid;

const total = entry ? entry.Amount : 0
---

<html>
    <head>
        <title>Coin Page</title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        />
    </head>
    <body>
        <Layout>
            <div class="flex">
                <div class={!loggedIn ? "w-full flex-row" : "w-3/4 flex-row"}>
                    <nav aria-label="Breadcrumb" class="p-6">
                        <ol class="flex leading-none divide-x divide-red-400">
                            <li class="pr-4">
                                <a
                                    href="/"
                                    class="text-red-500 hover:text-red-600"
                                >
                                    Coins
                                </a>
                            </li>
                            <li class="px-4 text-black" aria-current="page">
                                {_.capitalize(coin.CoinId)}
                            </li>
                        </ol>
                    </nav>
                    <Coin client:load coin={coin} />
                </div>
                {
                    loggedIn ? (
                        <div class="w-1/4 flex flex-col">
                            <div class="p-4 flex flex-col items-end">
                                <form
                                    method="POST"
                                    class="subscription-form"
                                    accept-charset="UTF-8"
                                >
                                    <input
                                        type="hidden"
                                        name="action"
                                        value="subscribe"
                                    />
                                    <button
                                        type="submit"
                                        class="bg-transparent border-none p-0"
                                    >
                                        {isWatched ? (
                                            <i
                                                class="fa fa-star checked fa-2x"
                                                style={{ color: "#ffa534" }}
                                            />
                                        ) : (
                                            <i
                                                class="far fa-star fa-2x"
                                                style={{ color: "#ffa534" }}
                                            />
                                        )}
                                    </button>
                                </form>
                            </div>
                            <div class="pr-6 pt-20">
                                <p class="text-lg font-light text-gray-800 mb-12">
                                    {_.capitalize(coin.CoinId)} Owned: {total}
                                </p>
                                <form
                                    method="POST"
                                    class="space-y-2 mb-12"
                                    accept-charset="UTF-8"
                                    enctype="multipart/form-data"
                                >
                                    <input
                                        type="hidden"
                                        name="action"
                                        value="buy_transaction"
                                    />
                                    <div>
                                        <label
                                            for="amount"
                                            class="block text-sm font-medium text-gray-700"
                                        >
                                            Buy Amount:
                                        </label>
                                        <input
                                            name="amount"
                                            type="number"
                                            class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-red-500 focus:border-red-500"
                                            value={0}
                                            min="0"
                                            max={user ? `${Math.floor(user.balance / coin.Price).toString()}` : "0"}
                                            required
                                        />
                                    </div>
                                    <button
                                        type="submit"
                                        class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
                                    >
                                        Buy Coins
                                    </button>
                                </form>
                                <form
                                    method="POST"
                                    class="space-y-2"
                                    accept-charset="UTF-8"
                                    enctype="multipart/form-data"
                                >
                                    <input
                                        type="hidden"
                                        name="action"
                                        value="sell_transaction"
                                    />
                                    <div>
                                        <label
                                            for="amount"
                                            class="block text-sm font-medium text-gray-700"
                                        >
                                            Sell Amount:
                                        </label>
                                        <input
                                            name="amount"
                                            type="number"
                                            class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-red-500 focus:border-red-500"
                                            value={0}
                                            min="0"
                                            max={`${total}`}
                                            required
                                        />
                                    </div>
                                    <button
                                        type="submit"
                                        class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
                                    >
                                        Sell Coins
                                    </button>
                                </form>
                            </div>
                        </div>
                    ) : (
                        ""
                    )
                }
            </div>
        </Layout>
    </body>
</html>
