---
import Layout from '../../components/layout.astro';

const { uid } = Astro.params;

let user = null;

console.log(uid)

if (uid) {
  try {
    user = await Astro.locals.pb.collection('users').getOne(uid)
  } catch (error) {
    console.log(error);
  }
}

if (!user) {
    return Astro.redirect('/users');
}

if (Astro.request.method === "POST") {
    try {
        const data = await Astro.request.formData();
				const postData = {
					name: data.get("name"),
					bio: data.get("bio"),
					location: data.get("location"),
				}
        await Astro.locals.pb.collection('users').update(user.id, postData);
				return Astro.redirect(`/users/${user.id}`);
    } catch (error) {
        console.error(error);
    }
}
---

<html>
    <head>
        <title>User Page</title>
    </head>
    <body>
        <Layout>
            <div>
                <nav aria-label="Breadcrumb" class="p-6">
                  <ol class="flex leading-none divide-x divide-red-400">
                    <li class="pr-4">
                      <a href="/users" class="text-red-500 hover:text-red-600">
                        Users
                      </a>
                    </li>
                    <li class="px-4 text-black" aria-current="page">
                      {user.name}
                    </li>
                  </ol>
                </nav>
          
                <div class="flex">
                  <div class="w-1/4 p-6 flex flex-col">
                    <img
                      src="https://t4.ftcdn.net/jpg/02/15/84/43/360_F_215844325_ttX9YiIIyeaR7Ne6EaLLjMAmy4GvPC69.jpg"
                      alt="Profile Picture"
                      class="rounded-lg border-2 border-red-500 mb-4"
                    />
                    <label for="name" class="block text-sm font-medium text-gray-700">
                      Joined {user.created}
                    </label>
                  </div>
          
                  <div class="w-3/4 p-6">
                    <h2 class="text-2xl font-semibold mb-4">Profile Information</h2>
                    <form method="POST" class="space-y-8" accept-charset="UTF-8">
                      <div>
                        <label for="name" class="block text-sm font-medium text-gray-700">
                          Name:
                        </label>
                        <input
													name="name"
                          type="text"
                          class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-red-500 focus:border-red-500"
                          value={user.name}
                        />
                      </div>
                      <div>
                        <label for="username" class="block text-sm font-medium text-gray-700">
                          Username:
                        </label>
                        <input
													name="username"
                          type="text"
                          class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none bg-gray-200 text-gray-500 cursor-not-allowed focus:outline-none focus:ring-0 focus:border-gray-300"
                          value={user.username}
                          readonly
                        />
                      </div>
                      <div>
                        <label for="email" class="block text-sm font-medium text-gray-700">
                          Email:
                        </label>
                        <input
													name="email"
                          type="email"
                          class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none bg-gray-200 text-gray-500 cursor-not-allowed focus:outline-none focus:ring-0 focus:border-gray-300"
                          value={user.email}
                          readonly
                        />
                      </div>
                      <div>
                        <label for="location" class="block text-sm font-medium text-gray-700">
                          Location:
                        </label>
                        <input
													name="location"
                          type="text"
                          class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-red-500 focus:border-red-500"
                          value={user.location}
                        />
                      </div>
                      <div>
                        <label for="bio" class="block text-sm font-medium text-gray-700">
                          Bio:
                        </label>
                        <input
													name="bio"
													type="text"
                          class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-red-500 focus:border-red-500"
													value={user.bio}
												/>
											</div>
                      <button type="submit" class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                        Save Profile
                      </button>
                    </form>
                  </div>
                </div>
              </div>
        </Layout>
    </body>
</html>